body {	
	background-image: url('images/floor-tile.png');
	margin: 0;
}

header {	
	background-color: #191970;
	background-image: url('images/circle-blues.png');
	border-bottom: 2px solid black;
	color: #FFFFFF;
	display: flex;
	justify-content: space-evenly;
	padding: 10px;
	width: 100%;	
}

h1 {
	margin-top: 15px;
}

h2,
legend {	
	font-family: 'Bangers', cursive;
	font-weight: 700;	
	letter-spacing: 0.1em;
}

h2 {
	font-size: 30px;
}

legend {
	font-size: 25px;
}

button {
	background-color: #FFFFFF;
	border: 2px solid #0099cc;
	border-radius: 6px;
	font-size: 18px;
	margin-top: 15px;	
	padding: 5px;
}
button:hover {
	background-color: #0099cc;
}

fieldset,
#message,
li,
.results {	
	font-size: 18px;
	font-family: 'Oxygen', sans-serif;
	margin: 5px;
}

img {
	border: 2px solid #FFFFFF;
	border-radius: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

ul {
	align-self: flex-end;
	list-style-type: none;	
	margin-right: 15px;
}

li {
	display: inline-block;
}


.box {
	background-color: #D3D3D3;
	border: 2px solid black;
	border-radius: 5px;
	margin: 0 auto;	
	margin-top: 100px;
	padding: 20px;	
	width: 50%;
}

.feedback {
	font-weight: 700;
}

.results {
	text-align: center;
}

.hidden {
	display: none;
}

.right {
	color: #008000;
}

.wrong {
	color: #FF0000;
}


/* MEDIA QUERY START */

@media screen and (max-width: 430px) {
	img {
		height: 100px;
	}

	fieldset,
	#message,
	li,
	.results {
		font-size: 14px;
	}

	legend {
		font-size: 20px;
	}

	h2 {
		font-size: 25px;
	}

	.box {
		width: 95%;
	}
}

@media screen and (max-width: 900px) {
	.box {
		width: 75%;
	}
}

/* MEDIA QUERY END */